html, body { font-size: 20px; font-family:'Segoe WP', Arial; margin : 14px; background: #000; color: #EEE;  }
h1 {  text-transform: uppercase;}
a {color: yellow; font-size: 20px;}
p, div, ul, dl  { font-size: 20px;  margin : 24px 0; }
img, sub { display: block;}
sub { font-style: italic;  font-size: 18px; color: #ccc; }
img { max-width: 440px;margin: 0 auto; border: none}
a img { border: none; }
h1{ font-size:30px}
h2{ font-size:24px}
h3{ font-size:22px}
h4,h5,h6{ font-size:20px}

.periwig {clear: both; width: 100%;}

pre, code { font-family: Courier !important;}
pre .str, code .str { color: #65B042; } 
pre .kwd, code .kwd { color: #E28964; } 
pre .com, code .com { color: #AEAEAE; font-style: italic; }
pre .typ, code .typ { color: #89bdff; } 
pre .lit, code .lit { color: #3387CC; } 
pre .pun, code .pun { color: #fff; } 
pre .pln, code .pln { color: #fff; } 
pre .tag, code .tag { color: #89bdff; } 
pre .atn, code .atn { color: #bdb76b; } 
pre .atv, code .atv { color: #65B042; } 
pre .dec, code .dec { color: #3387CC; }
pre.prettyprint, code.prettyprint {background-color: #000;-ms-border-radius: 8px;border-radius: 8px;}
pre.prettyprint {width: 95%;margin: 1em auto;padding: 1em;white-space: pre-wrap;}
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } 
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }