html, body { font-size: 1em; font-family:'Segoe WP', Arial; margin : 14px; background: black; color: #FDFDFD;  }
h1 {  text-transform: uppercase;}
h1,h2,h3,h4,h5,h6 { font-family: Georgia;}
a {color: yellow;}
p, div, ul, dl  {  margin : 24px 0; }
img, sub { display: block;}
sub { font-style: italic;  font-size: 0.85em; color: #ccc; }
img { max-width: 400px;margin: 0 auto;}

.view-original {text-transform: uppercase;font-size: 1em;font-weight: 500; }

pre, code { font-family: Courier;}
pre .str, code .str { color: #65B042; } 
pre .kwd, code .kwd { color: #E28964; } 
pre .com, code .com { color: #AEAEAE; font-style: italic; }
pre .typ, code .typ { color: #89bdff; } 
pre .lit, code .lit { color: #3387CC; } 
pre .pun, code .pun { color: #fff; } 
pre .pln, code .pln { color: #fff; } 
pre .tag, code .tag { color: #89bdff; } 
pre .atn, code .atn { color: #bdb76b; } 
pre .atv, code .atv { color: #65B042; } 
pre .dec, code .dec { color: #3387CC; }
pre.prettyprint, code.prettyprint {background-color: #000;;-ms-border-radius: 8px;border-radius: 8px;}
pre.prettyprint {width: 95%;margin: 1em auto;padding: 1em;white-space: pre-wrap;}
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } 
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }