body, #body { background: #000 !important; margin: 14px; padding: 0; color: #EEE !important; }
h3 { margin: 0; font-weight: 600; color: #FFF; }
font { background: #000 !important; padding: 0; color: #EEE !important; font-size: 20px !important; }
.comment { background: #000 !important; padding: 0; font-size: 20px !important; margin: 0 0 25px 0; color: #EEE !important; }
